* {
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
}

#clock {
    text-align: center;
    position: relative;
    top: 50%;
    font-family: "Exo 2", sans-serif;
    font-size: 5rem;
    margin-top: -2.5rem;
}
